<!doctype html>
<meta charset="utf-8">
<!-- <title>Paper Rank</title> -->

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/jquery-ui.min.css') }}">
{% endblock %}

{% block body %}{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='js/fundamental/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/fundamental/jquery-ui.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/fundamental/underscore-min.js') }}"></script>
<script src="{{ url_for('static', filename='js/fundamental/d3.v4.js') }}"></script>
{% endblock %}